.iphone-table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse; 
    font-family: Arial, sans-serif; 
    text-align: left; 
}
.iphone-table th {
    background-color: #b2b9b2; 
    color: white; 
    padding: 10px;
}
.iphone-table td {
    background-color: #f2f2f2; 
    padding: 8px; 
    border: 1px solid #ddd;
}
.iphone-table tr:hover {
    background-color: #ddd; 
}